@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.App {
  text-align: center;
}

body{
  background-color: #00bfff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #BBFFFF;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}

button {
  width: 33%;
  height: 30%;
  padding: 10px;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  background: BBFFFF;
  border-radius: 5px;
}